<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width = 750" />
    <meta name="author" content="Brian Gordon" />

    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/reset.css" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/blog.css" charset="utf-8">
</head>
<body>

	<a href="https://github.com/briangordon"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/bec6c51521dcc8148146135149fe06a9cc737577/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
	<div id="page-wrapper">

		<div id="site-title">
			Brian Gordon <span class="blurb">blog</span>
		</div>

		<div id="navlist-wrapper">
			<ul id="navlist">
				<li><a href="http://www.brian-gordon.name/portfolio">portfolio</a></li>
				<li><a href="https://github.com/briangordon">github</a></li>
			</ul>
		</div>

		{{ content }}

		<div id="footer">
			<div id="foot-left">

			</div>
			<div id="foot-right">
				<p>Copyright 2012 Brian Gordon<br />
				Text available under <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0</a><br />
				Code licensed under <a rel="license" href="http://www.debian.org/legal/licenses/mit">MIT/Expat</a></p>
			</div>
		</div>

	</div>

</body>
</html>