<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width = 750" />
    <meta name="author" content="Brian Gordon" />

    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/blog.css" />
    <link rel="stylesheet" type="text/css" href="/css/javascript.css" />
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28926026-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  menuSettings: { context: "Browser" }
});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/2.1-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</head>
<body>

	<a href="https://github.com/briangordon"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>
	<div id="page-wrapper">

		<div id="site-title">
			<a href="http://www.brian-gordon.name">Brian Gordon</a> <span class="blurb"><a href="/">blog</a></span>
		</div>

		<div id="navlist-wrapper">
			<ul id="navlist">
				<li><a href="/archive.html">archive</a></li>
				<li><a href="http://www.brian-gordon.name/portfolio">portfolio</a></li>
			</ul>
		</div>

		{{ content }}

		<div id="footer">
			<div id="foot-left">

			</div>
			<div id="foot-right">
				<p>Copyright 2012 Brian Gordon<br />
				Text available under <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0</a><br />
				Code licensed under <a rel="license" href="http://www.debian.org/legal/licenses/mit">MIT/Expat</a></p>
			</div>
		</div>

	</div>

</body>
</html>