---
layout: default
---

<div id="contents">
<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
<span class="post-topics">{{ page.tags | sort | join: " "}}</span>
<span class="blurb">{{ page.date | date: "%d %B %Y" }}</span>

{{ content }}
</div>

<div id="separator"></div>

<div id="related">
  <h1>Related Posts</h1>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span class="date">{{ post.date | date: "%d %b %Y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div id="separator"></div>